// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


// Default variable overrides
$body-bg: #f7d6e6;
$body-color: #555;

$dark: #d63384;

$primary: #d63384;
$danger: #801f4f;

/*
$navbar-dark-brand-color: #ff0000;
$navbar-dark-brand-hover-color: #990000;
$navbar-dark-color: #ff0000;
$navbar-dark-hover-color: #990000;
*/

$font-size-base: 1.1rem;

// Import all of Bootstrap's CSS
@import '/node_modules/bootstrap/scss/bootstrap.scss';


/* =================================================================== */


/* var1 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=PT+Sans&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');

/* var2 */
/*
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400&display=swap');
*/

/* var3 */
/*
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
*/


:root {

  /* variation 1 */
  --font-main-1: 'Roboto Condensed', sans-serif;
  --font-alt-1: 'Open Sans', sans-serif;
  --font-banner-1: 'Birthstone Bounce', cursive;
  --bg-light-1: #f7d6e6;
  --bg-dark-1: #de5c9d;
  --text-light-1: #fff;
  --text-dark-1: #444;
  --text-highlight-1: #d63384;
  --bg-highlight-1: var(--text-highlight-1);
  --text-banner-1: var(--text-light-1);
  --bg-header-1: #561435;
  --text-header-1: rgba(255,255,255,.55);
  --bg-footer-1: var(--bg-header-1);
  --text-footer-1: var(--text-header-1);
  --text-subsection-footer-1: #eee;
  --bg-copyright-1: #2b0a1a;
  --section-border-color-1: #000;
  --btn-primary-1: #d63384;
  --btn-primary-text-1: #fff;
  --btn-secondary-1: #ddd;
  --btn-secondary-text-1: #000;

  /*
  --banner-image-1: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/background1.jpeg");

  --about-image-1: url("../img/about.jpeg");
  --brand-icon-1: url("../img/brand-icon.png"); 
  
  --feature-image-a-1: url("../img/feature1a.jpeg");
  --feature-image-b-1: url("../img/feature1b.jpeg");
  --feature-image-c-1: url("../img/feature1c.jpeg");
  */


  /* current set */
  --font-main: var(--font-main-1);
  --font-alt: var(--font-alt-1);
  --font-banner: var(--font-banner-1);
  --bg-light: var(--bg-light-1);
  --bg-dark: var(--bg-dark-1);
  --text-light: var(--text-light-1);
  --text-dark: var(--text-dark-1);
  --text-highlight: var(--text-highlight-1);
  --text-banner: var(--text-banner-1);
  --bg-highlight: var(--bg-highlight-1);
  --bg-header: var(--bg-header-1);
  --text-header: var(--text-header-1);
  --bg-footer: var(--bg-footer-1);
  --text-footer: var(--text-footer-1);
  --text-subsection-footer: var(--text-subsection-footer-1);  
  --bg-copyright: var(--bg-copyright-1);
  --section-border-color: var(--section-border-color-1);
  --btn-primary: var(--btn-primary-1);
  --btn-primary-text: var(--btn-primary-text-1);
  --btn-secondary: var(--btn-secondary-1);
  --btn-secondary-text: var(--btn-secondary-text-1);
  --banner-image: var(--banner-image-1);  
  --about-image: var(--about-image-1);
  --brand-icon: var(--brand-icon-1);

  --feature-image-a: var(feature-image-a-1);
  --feature-image-b: var(feature-image-b-1);
  --feature-image-c: var(feature-image-c-1);  



  --angle: -5deg;
  --angle-invert: 5deg;
}



body {
  margin: 0;
  padding: 0;
  height: 100%;
  
  font-family: var(--font-main);

  position: relative;
}

body {                
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-bottom: 0;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

img {
  max-width: 100%; 
}




/* component: button */

.btn {
  border-radius: 2rem;
}

.btn-primary {
  background: var(--btn-primary);
  color: var(--btn-primary-text);
  border: #fff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {	
	background: var(--btn-primary);
	color: var(--btn-primary-text);
	filter: brightness(80%);

	border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-secondary  {
  background: var(--btn-secondary);
  color: var(--btn-secondary-text);
  border: #fff
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
	background: var(--btn-secondary);
	color: var(--btn-secondary-text);
	filter: brightness(80%);

	border: 0 !important;
  outline: none !important;
  box-shadow: none !important;	
}


/* component: card */

.card, .card .card-img-top, .feature-card {
  border-radius: 1.8rem;
}


/* component: form */

.form-control, .form-control:active, .form-control:focus {
  border-radius: 1rem;
  background: #eee;
  box-shadow: none;
}

.form-select, .form-select:active, .form-select:focus {
	background: #eee;
	box-shadow: none;
}

.form-check-input, .form-check-input:active, .form-check-input:focus {
	background: #fff;
	color: #000;
	box-shadow: none;	
	border: 0;
}

.form-check-input:checked {
  background-color: var(--bg-highlight) !important;
  color: #000;
  box-shadow: none;	
  border: 0;
}


/* Text */

.text-light {
	color: var(--text-light) !important;
}

.text-dark {
	color: var(--text-dark) !important;
}

.text-highlight {
	color: var(--text-highlight) !important;
}

.text-banner {
  color: var(--text-banner) !important;	
}


/* Backgrounds */

.bg-dark {
  background: var(--bg-dark) !important;
}

.bg-light {
  background: var(--bg-light) !important;
}

.bg-highlight {
  background: var(--bg-highlight) !important;
}

.bg-header {
  background: var(--bg-header);
}

.bg-footer {
  background: var(--bg-footer);
}

.bg-copyright {
  background: var(--bg-copyright);
}

.bg-banner {
  background-image: var(--banner-image);

  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}



/* sections */

.section {
  margin: 0;
  z-index: 1;
  padding-bottom: 50px;
}

.section:nth-child(even) {
  background: var(--bg-light);

  & .section-title {
    color: var(--text-dark);
  }  

  & .section-subtitle {
    color: var(--text-dark)
  }
  
  & .section-subtitle-second {
    color: var(--text-highlight)
  }
}

.section:nth-child(odd) {
  background: var(--bg-dark);

  & .section-title {
    color: var(--text-light);
  }  
  
  & .section-subtitle {
    color: var(--text-dark)
  }

  & .section-subtitle-second {
    color: var(--text-light);
  }  
}

.section .container {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section-head {
  margin: 5px;
  text-align: center;
}

.section-line {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 5px solid var(--section-border-color);
  margin-bottom: 20px;
}


/* NAVBAR
-------------------------------------------------- */

a {
  cursor: pointer;
}

a.nav-link,
a.nav-link:hover, a.nav-link:focus {
	color: var(--text-header);
}

a.nav-link:hover {
	filter: brightness(80%);
}

.navbar-brand .brand-icon {
  content: var(--brand-icon);
}

.navbar {
  transition: top 0.2s ease-in-out;
  height: 65px;
}

.nav-up {
    top: -65px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .show>.nav-link {
  color: #fff;
}

@include media-breakpoint-down(sm) {
  .navbar-collapse {
    overflow-y: auto;
    max-height: 325px;
  }
}


/* BANNER
-------------------------------------------------- */

.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  z-index: 0;
  position: relative;
}

.banner-inner {
  width: 100%;
  height: 100%;
}

.main-title {
  font-family: var(--font-banner);
  font-size: 6rem;
}

@include media-breakpoint-up(lg) {
  .main-title {
    font-size: 8rem;
  }
}


.main-subtitle {
  font-family: var(--font-alt);
  font-size: 1.5rem;
}

@include media-breakpoint-up(lg) {
  .main-subtitle {
    font-size: 3.5rem;
  }
}




/* ABOUT
-------------------------------------------------- */

.about-person img {
  margin-top: -30%; /* to overlap with banner */
  z-index: 10;
  width: 80%;

  content: var(--about-image);
}

@include media-breakpoint-down(lg) {
  .about-person img {
    margin-top: -70%;
    width: 100%;
    height: 300px;
  }
}

.about .container {
  padding-top: 3rem;
}


/* CONTACT
-------------------------------------------------- */

.contact-icon {
  margin-bottom: 50px;
}

.contact-icon .bi {
  font-size: 3.5em;
}

.contact-text {
  font-size: 1rem;
  /*font-weight: bold;*/
}

.contact .contact-img {
  content: var(--about-image);	
}


/* FEATURES
-------------------------------------------------- */

.features .feature-first img {
	content: var(--feature-image-a);
}

.features .feature-second img {
	content: var(--feature-image-b);
}

.features .feature-third img {
	content: var(--feature-image-c);
}



/* MAPS
-------------------------------------------------- */

iframe {
	border-radius: 1.5rem;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
	vertical-align: middle;
}


/* SKILL BAR
-------------------------------------------------- */

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: var(--bg-light);
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--bg-dark);
  /*background: #aaa;*/
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}



/* TEAM
-------------------------------------------------- */

.team .card {
	border-radius: 2rem;
}

.team .card img {
	border-radius: 2rem;
  
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

@include media-breakpoint-down(lg) {
  .team .card img {
    border-radius: 2rem;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }  
}


/* FAQ
-------------------------------------------------- */

.faq .accordion-item {
  border: 0;
  border-radius: 1.5rem;
}

.faq .accordion-button {
	background: var(--bg-white);
	color: var(--text-dark);	
}

.faq .accordion-button:not(.collapsed) {
	box-shadow: inherit;
	background: var(--bg-white);
	color: var(--text-dark);
}

.faq .accordion-button:focus {
  box-shadow: inherit;
}

.faq code {
	color: var(--text-highlight);
}

.faq .accordion-button:not(.collapsed)::after {
  /*
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); 
    */
    transform: rotate(-180deg);
}



/* PRICING
-------------------------------------------------- */


.pricing .card {
	border-radius: 15px 50px 30px;
}




/* TIMELINE
-------------------------------------------------- */

/* The actual timeline (the vertical ruler) */
.timeline .timeline-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}


/* The actual timeline (the vertical ruler) */

.timeline .timeline-line {
  position: absolute;
  /*width: 5px;
  background-color: #ddd;
  */
  border-right: 3px dashed #ddd;

  width: 5px;
  background-color: inherit;
}


.timeline .tl-entry.right .timeline-line {
  left: -3px;
  top: 75px;
  bottom: -110px;  
}

.timeline .timeline-line.last {
	border-right: 0;
  background-color: inherit;
}

/* Container around content */
.timeline .tl-entry {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 75%;
  margin-bottom: 30px;
}

/* The circles on the timeline */

.timeline .tl-entry::after {
	content: "";
	display: none;
}

.timeline .tl-entry-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -25px;
  /*background-color: #61D4E8;*/
  background-color: var(--bg-highlight);
  /*border: 4px solid #2DA1E7;*/
  border: 2px solid #ccc;
  top: 75px;
  border-radius: 1rem;
  z-index: 1;

  color: #fff;
  font-size: x-large;
  font-weight: 800;

  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  .timeline .tl-entry-circle {
    left: 5px;
    top: 10px;
  }
}


/* Place the container to the right */
.timeline .right {
  left: 0%;
}


/* Fix the circle for containers on the right side */
.timeline .right::after {
  left: -25px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */

  .timeline .tl-entry.right .timeline-line {
    left: 27px;

    top: 15px;
    bottom: -100px;

    width: 5px;
  }

  /* Full-width containers */
  .timeline .tl-entry {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure all circles are at the same spot */
  .timeline .right::after {
    left: 5px;
  }

  /* Make all right containers behave like the left ones */
  .timeline .right {
    left: 0%;
  }
}



/* LOGIN
-------------------------------------------------- */

.login .card {
  border-radius: 1.2rem;
}

.login .card img {
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}


/* SLIDER
-------------------------------------------------- */

.slider .swiper {
  /*height: 300px;*/
}

:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #eee;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
}

.slider img {
	border-radius: 2rem !important;
}

.swiper {
  border-radius: 2rem !important;
}



/* FEEDBACK
-------------------------------------------------- */

.feedback .blockquote {
  position: relative;
  font-size: inherit;
  font-weight: inherit;

  padding: 20px;
  padding-left: 50px;
  text-align: center;
  width: 100%;
  max-width: 500px;

  z-index: 1;

  align-self: center;
  border: 0;
  
  border-top: dashed 1px;
  border-bottom: dashed 1px;  
}

/* Blockquote right double quotes */
.feedback .blockquote:after {
    position: absolute;
    content: "â€";
    line-height: 0;
    font-size: 5rem;
    font-weight: bold;
    color: #555;
    top: 40px;
    left: 0px;
    right: inherit;
    font-family: serif;
}


.feedback .card {
	border-radius: 2rem;
}

.feedback .card img {
	border-radius: 2rem;
  
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}




/* QUOTES
-------------------------------------------------- */


@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.quotes .quote-box {
	border: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 160px;
  padding: 40px;
  position: relative;
  z-index: 0;
  min-height: 400px;
  border-radius: 1rem;
}

.quotes .quote-box img {
  /* width: 300px; */
  width: 500px !important;
  height: 400px !important;
  margin: 0 auto;
  margin-bottom: 40px;
  /* margin-top: -290px !important; */
  margin-top: -190px !important;
  border: 10px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.quotes .quote {
  font-family: 'Clicker Script', cursive;
}


/* VIDEO
-------------------------------------------------- */

video {
  /*background: #ffeff1;*/
  /*min-height: 600px;*/
  padding: 30px;
  width: 100%;
}



/* GALLERY
-------------------------------------------------- */

.gallery .gallery-img {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}

.gallery .gallery-img img {
box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.gallery .gallery-img img {
position: relative;
max-width: 100%;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
-webkit-transition: 0.9s;
-o-transition: 0.9s;
transition: 0.9s;
}
.gallery .gallery-img:hover img {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}


/* MULTINAV
-------------------------------------------------- */

nav .dropdown-submenu {
  position: relative;
}

nav .dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
}

nav .dropdown-item.active, .dropdown-item:active {
	background-color: inherit;
}

nav a.dropdown-item {
	color: #000;
}

nav .dropdown-item.active, .dropdown-item:active {
  color: #000;
}


/* MULTILANG
-------------------------------------------------- */

.multilang .dropdown-toggle {
	color: #fff;
	text-decoration: none;
  margin-left: 1rem;
  filter: brightness(95%);
}

.multilang .dropdown-toggle:hover {
	color: #ddd;
	text-decoration: none;
  filter: brightness(115%);
}

.multilang .dropdown-toggle::after {
  margin-left: 0;
  content: "";
  display: none;
}

.multilang .dropdown {
	border-radius: 0.7rem;
	opacity: 0.9;
}

.multilang .btn-check:focus+.btn, .btn:focus {
	box-shadow: none;
}

.multilang .dropdown-menu {
	border-radius: 0.7rem;
	opacity: 0.9;
}

.multilang img {
	/*width: 1rem;*/
}

.multilang .search .form-control, .multilang .form-control:active, .multilang .form-control:focus {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}


.multilang .dropdown-menu[data-bs-popper] {
    left: -110px;
    top: 35px
}



/* IMPRINT
-------------------------------------------------- */

.pure-page {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 35px;
  }
}


/* FOOTER
-------------------------------------------------- */

.footer {
  color: var(--text-footer); 
  z-index: 1;
  position: relative; 
}

.footer p {
  /*color: rgba(255,255,255,.55);*/
}

.footer h5 {
  color: var(--text-subsection-footer);
}

.footer a {
  text-decoration: none;
  color: var(--text-footer);
}

.footer .nav-link {
  padding: 0;
}

.footer-contact {
  word-wrap: break-word;
}

/* Copyright */

.footer-copyright {
  background: var(--bg-copyright);
  text-align: center;

  /* for diagonal to overlap again */
  position: relative;
  z-index: 100;
}

.footer-copyright a {
  text-decoration: none;
}

.copyright-text  {
  font-size: 0.9rem;
  color: #fff;
}

.copyright-text a {
  color: rgba(255,255,255,.55);
}

.copyright-text a:hover {
  color: rgba(255,255,255,.75);
}


